<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Broom</title>
    <link rel="stylesheet" href="style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const ROOM_ID = '<%= roomId%>';
    </script>
  </head>
  <body>
    <div class="main">
      <div class="main_left"></div>
      <div class="main_videos"></div>
      <div id="video-grid"></div>
      <div class="main_controls"></div>
    </div>
    <div class="main_right">
      <div class="main_header">
        <h6>Chat</h6>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
